<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Binary Id="Artifacts_Banner" SourceFile="$(var.CustomImg)\ArtifactsBanner.bmp" />
    <Binary Id="License_Banner" SourceFile="$(var.CustomImg)\LicenseBanner.bmp" />

    <UI Id="WixUI_Custom_Common">
      <!-- Custom UIText would go here -->
    </UI>
  </Fragment>

  <?foreach WIXUIARCH in X86;X64;A64 ?>
  <Fragment>
    <UI Id="WixUI_Custom_Common_$(WIXUIARCH)">
      <!-- An empty section in case we wanted to use something similar to ui:WixUI to refer to WixUI_Custom_Common. -->
    </UI>
  </Fragment>
  <?endforeach?>
</Wix>
