<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include CziShrinkVariables.wxi ?>
  <Fragment>
    <Component Id="CziShrinkDesktopShortcut" Directory="DesktopFolder" Condition="WIXUI_ADDDESKTOPSHORTCUT = 1">
      <RegistryValue Root="HKCU"
                     Key="$(RegistryKeyPath)"
                     Name="DesktopShortcutInstalled"
                     Value="1" />
      <Shortcut Name="$(var.ShortcutName)"
                Description="$(var.ShortcutDesc)"
                Target="[#CziShrinkEXE]"
                Directory="DesktopFolder"
                Icon="CziShrinkIcon" />
    </Component>
  </Fragment>
</Wix>
