<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include CziShrinkVariables.wxi ?>
  <Fragment>
    <Component Id="CziShrinkDesktopShortcut" Directory="DesktopFolder" Condition="WIXUI_ADDDESKTOPSHORTCUT = 1">
      <!-- Note that for all users the registry key ought to be HKMU rather than per-user HKCU. In the best case
           this ought to be made contingent on whether the installer is run per-user or per-machine. Additionally
           this may cause an ICE57 error which would would have to be suppressed.-->
      <RegistryValue Root="HKCU"
                     Key="$(RegistryKeyPath)"
                     Name="DesktopShortcutInstalled"
                     Value="1" />
      <Shortcut Name="$(var.ShortcutName)"
                Description="$(var.ShortcutDesc)"
                Target="[#CziShrinkEXE]"
                Directory="DesktopFolder"
                Icon="CziShrinkIcon" />
    </Component>
  </Fragment>
</Wix>
