<?xml version="1.0" encoding="utf-8"?>
<!-- Since we are using a mix of different package sources we need to safeguard against dependency confusion attacks (be it intentional or unintentional)-->
<!-- Issue: There is no deterministic order of package sources to be fetched (fastest wins) -->
<!-- See: https://github.com/NuGet/Home/issues/5611 -->
<!-- Solution: https://devblogs.microsoft.com/nuget/introducing-package-source-mapping/ -->
<!-- More Info: https://learn.microsoft.com/en-us/nuget/concepts/security-best-practices -->
<!-- More Info: https://devblogs.microsoft.com/nuget/quickly-map-your-nuget-packages-to-sources/ -->
<!-- Required Tooling: Visual Studio 2022 preview 4 and later | .NET SDK 6.0.100-rc.1 and later | nuget.exe 6.0.0-preview.4 and later -->
<configuration>
    <!-- `clear` ensures no additional sources are inherited from another config file. -->
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github_zeiss" value="https://nuget.pkg.github.com/ZEISS/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github_zeiss>
             <add key="Username" value="%GITHUB_ZEISS_USERNAME%" /> 
             <add key="ClearTextPassword" value="%GITHUB_ZEISS_PACKAGES_READ_PAT%" /> 
        </github_zeiss>
    </packageSourceCredentials>
    <!-- Define mappings by adding package ID patterns beneath the target source. -->
    <!-- Any package not matching other specified patterns will be restored from nuget.org without throwing an error. -->
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="github_zeiss">
            <package pattern="libczicompressc" />
        </packageSource>
    </packageSourceMapping>
</configuration>